a, a:visited {
    color:#4d4832;
}

#about {
    background-color: white(105, 99, 99);
    
}

#homepage {

    text-decoration: white;
}

footer {
    background-color: rgb(47, 47, 109);
}

footer a {
    text-decoration: white;
    color: rgb(89, 169, 169);
}



    